<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="miamiPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="miamiPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <miamiPOS.Properties.Settings>
            <setting name="port" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="dbUser" serializeAs="String">
                <value>marcelo</value>
            </setting>
            <setting name="dbPass" serializeAs="String">
                <value>marcelo</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>panaderia</value>
            </setting>
            <setting name="backColor" serializeAs="String">
                <value>LightSkyBlue</value>
            </setting>
            <setting name="sangucheColor" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
        </miamiPOS.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <miamiPOS.Properties.Settings>
            <setting name="serverIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="lastUpdate" serializeAs="String">
                <value>2014-06-01</value>
            </setting>
            <setting name="idCajero" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nombreCajero" serializeAs="String">
                <value/>
            </setting>
            <setting name="admin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cajaInicial" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idTurno" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="serverRemote" serializeAs="String">
                <value>http://mbarrien.com/mypos/</value>
            </setting>
            <setting name="printerPortName" serializeAs="String">
                <value/>
            </setting>
            <setting name="id_sucursal" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="modoSanguchero" serializeAs="String">
                <value>False</value>
            </setting>
        </miamiPOS.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
